$rose: #f3e9f1
$marron: #261624

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1
body
    margin: 0
    font-family: Montserrat, sans-serif
    width: 100%
    height: 100%
    header
        width: 100%
        height: 80px
        background-color: $rose
        display: flex
        align-items: center
        justify-content: space-between
        .left-nav
            height: 100%
            display: flex
            flex-direction: row
            width: 25%
            &-ol
                list-style-type: none
                display: flex
                flex-direction: row
                width: 100%
                padding: 0
                align-items: center
                justify-content: space-between
                &-li
                    text-align: center
                    transition: 1s
                    display: flex
                    align-items: center
                    cursor: pointer
                    height: 40px !important
                    width: 100%
                    justify-content: center
                .icons
                    width: 20px
                    height: 20px
                    text-align: center
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 10px
                    &:hover
                        background-color: #d0bbcc
                        cursor: pointer
                        transition: 0.4s
    .logo
        width: 260px
        margin: 0 auto
    .right-nav
        display: flex
        flex-direction: row
        height: 100%
        justify-content: flex-end
        width: 40%
        margin-right: 20px
        &-ol
            padding: 0
            list-style-type: none
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 100%
            font-weight: 500
            align-items: center
            &-li
                text-align: center
                transition: 1s
                display: flex
                align-items: center
                cursor: pointer
                height: 40px !important
                width: 100%
                justify-content: center
                &:hover
                    text-align: center
                    transition: 0.4s
                    color: #795a46
                    transform: scale(1.1)
                    cursor: pointer
.active
    font-weight: 600
    padding-left: 5px
    padding-right: 5px
    height: 40px !important
    text-align: center
    transition: 1s
    background-color: #d0bbcc

.emplacement-logo
    display: flex
    align-items: center
    justify-content: center
    width: 33%

.close
    position: absolute
    right: 50px
    top: 120px
    font-size: 30px
    cursor: pointer
    opacity: 0
    &:active
        transform: scale(1.3)

#nav-enter
    font-size: 30px
    cursor: pointer
    margin-top: 20px
    transition: 1s
    &:hover
        transform: scale(1.3)

.box-teddy
    margin: 20px

.page-produits
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    height: 100%
    background-image: url("/ressources/produits-bg.png")
    background-repeat: no-repeat
    background-position: bottom
    background-size: cover

.container
    display: flex
    justify-content: center
    align-items: center
    width: 180%
    height: auto
    margin-top: 40px
    flex-wrap: wrap

html
    width: 100%
    height: 100%

h1,h2,h3,h4,h5,h6,p,span
    margin: 0

.imgstyle
    width: 100%
    height: 100%
    border-radius: 5px
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    object-fit: cover
.titre
    font-weight: 600
.sous-titre
    font-weight: 400
    text-overflow: ellipsis
    width: 80%
    overflow-x: clip

.img-box-teddy
    border-radius: 5px
    background-color: white
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2)
    display: flex
    align-items: center
    flex-direction: column
    width: 300px
    &:hover
        transform: scale(1.05)
        cursor: pointer
        transition: 0.4s

.title
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 90%
    height: 80px

.titleright
    display: flex
    align-items: center
    font-size: 30px

.price
    position: absolute
    bottom: 7%
    right: 5%
    background-color: $rose
    padding-left: 4px
    padding-right: 4px
    padding-top: 2px
    padding-bottom: 2px
    font-size: 25px
    font-weight: 500

.price-plus-img
    position: relative

.titleleft
    display: flex
    justify-content: space-between
    flex-direction: column
    height: 90%
    width: 90%

.cursor-scale
    cursor: pointer
    &:hover
        transform: scale(1.2)
        transition: 0.4s
        color: #aa8064

.more
    width: 200px
    height: 200px
    font-size: 55px
    display: flex
    align-items: center
    justify-content: center
    color: $marron
    transition: 0.4s 
    margin: 60px
    &:hover
        transform: scale(1.3)
        cursor: pointer
        transition: 0.4s

.zoom
    font-size: 20px
    position: absolute
    top: 5%
    left: 50%
    transform: translate(-50%)
    &:hover
        cursor: pointer
        font-size: 25px
        transition: 0.4s

#tda, #tdz, #tde, #tdr, #tdt
    position: absolute
    width: 0%
    object-fit: cover
    left: 50%
    top: 10%
    transform: translateY(-50%)
    transform: translateX(-50%) 
    transition: 0.4s

.close-img
    font-size: 0px
    position: absolute
    z-index: 999
    top: 5%
    right: 5%
    padding: 5px
    transition: 0.4


.position-relative
    position: relative

.page-container
    width: 100%
    height: 100%
    position: absolute

@media screen and ( max-width: 968px )
    header
        flex-direction: column
        height: unset !important
    .logo
        margin-top: 20px !important
        margin-bottom: 20px !important
    .left-nav
        justify-content: flex-start !important
    .right-nav
        margin-right: 0 !important
    .page-container
        height: unset !important
    .box-teddy
        width: 100%
        display: flex
        justify-content: center
    .img-box-teddy
        width: 80%
    #tdz
        top: 50%
    #tde
        top: 100%
    #tdr
        top: 150%
    #tdt
        top: 150%
    
