@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 9, ../sass/main.sass */
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100%;
}
/* line 14, ../sass/main.sass */
body header {
  width: 100%;
  height: 80px;
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 21, ../sass/main.sass */
body header .left-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 25%;
}
/* line 26, ../sass/main.sass */
body header .left-nav-ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
/* line 34, ../sass/main.sass */
body header .left-nav-ol-li {
  text-align: center;
  transition: 1s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
}
/* line 43, ../sass/main.sass */
body header .left-nav-ol .icons {
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* line 51, ../sass/main.sass */
body header .left-nav-ol .icons:hover {
  background-color: #d0bbcc;
  cursor: pointer;
  transition: 0.4s;
}
/* line 55, ../sass/main.sass */
body .logo {
  width: 260px;
  margin: 0 auto;
}
/* line 58, ../sass/main.sass */
body .right-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 40%;
  margin-right: 20px;
}
/* line 65, ../sass/main.sass */
body .right-nav-ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  align-items: center;
}
/* line 74, ../sass/main.sass */
body .right-nav-ol-li {
  text-align: center;
  transition: 1s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
}
/* line 83, ../sass/main.sass */
body .right-nav-ol-li:hover {
  text-align: center;
  transition: 0.4s;
  color: #795a46;
  transform: scale(1.1);
  cursor: pointer;
}

/* line 89, ../sass/main.sass */
.active {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px !important;
  text-align: center;
  transition: 1s;
  background-color: #d0bbcc;
}

/* line 98, ../sass/main.sass */
.emplacement-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

/* line 104, ../sass/main.sass */
.close {
  position: absolute;
  right: 50px;
  top: 120px;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}
/* line 111, ../sass/main.sass */
.close:active {
  transform: scale(1.3);
}

/* line 114, ../sass/main.sass */
#nav-enter {
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: 1s;
}
/* line 119, ../sass/main.sass */
#nav-enter:hover {
  transform: scale(1.3);
}

/* line 122, ../sass/main.sass */
.box-teddy {
  margin: 20px;
}

/* line 125, ../sass/main.sass */
.page-produits {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-image: url("/ressources/produits-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* line 136, ../sass/main.sass */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180%;
  height: auto;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* line 145, ../sass/main.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 149, ../sass/main.sass */
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

/* line 152, ../sass/main.sass */
.imgstyle {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

/* line 159, ../sass/main.sass */
.titre {
  font-weight: 600;
}

/* line 161, ../sass/main.sass */
.sous-titre {
  font-weight: 400;
  text-overflow: ellipsis;
  width: 80%;
  overflow-x: clip;
}

/* line 167, ../sass/main.sass */
.img-box-teddy {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
/* line 175, ../sass/main.sass */
.img-box-teddy:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.4s;
}

/* line 180, ../sass/main.sass */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 80px;
}

/* line 187, ../sass/main.sass */
.titleright {
  display: flex;
  align-items: center;
  font-size: 30px;
}

/* line 192, ../sass/main.sass */
.price {
  position: absolute;
  bottom: 7%;
  right: 5%;
  background-color: #f3e9f1;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 25px;
  font-weight: 500;
}

/* line 204, ../sass/main.sass */
.price-plus-img {
  position: relative;
}

/* line 207, ../sass/main.sass */
.titleleft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
  width: 90%;
}

/* line 214, ../sass/main.sass */
.cursor-scale {
  cursor: pointer;
}
/* line 216, ../sass/main.sass */
.cursor-scale:hover {
  transform: scale(1.2);
  transition: 0.4s;
  color: #aa8064;
}

/* line 221, ../sass/main.sass */
.more {
  width: 200px;
  height: 200px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #261624;
  transition: 0.4s;
  margin: 60px;
}
/* line 231, ../sass/main.sass */
.more:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.4s;
}

/* line 236, ../sass/main.sass */
.zoom {
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}
/* line 242, ../sass/main.sass */
.zoom:hover {
  cursor: pointer;
  font-size: 25px;
  transition: 0.4s;
}

/* line 247, ../sass/main.sass */
#tda, #tdz, #tde, #tdr, #tdt {
  position: absolute;
  width: 0%;
  object-fit: cover;
  left: 50%;
  top: 10%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  transition: 0.4s;
}

/* line 257, ../sass/main.sass */
.close-img {
  font-size: 0px;
  position: absolute;
  z-index: 999;
  top: 5%;
  right: 5%;
  padding: 5px;
  transition: 0.4;
}

/* line 267, ../sass/main.sass */
.position-relative {
  position: relative;
}

/* line 270, ../sass/main.sass */
.page-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 968px) {
  /* line 276, ../sass/main.sass */
  header {
    flex-direction: column;
    height: unset !important;
  }

  /* line 279, ../sass/main.sass */
  .logo {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  /* line 282, ../sass/main.sass */
  .left-nav {
    justify-content: flex-start !important;
  }

  /* line 284, ../sass/main.sass */
  .right-nav {
    margin-right: 0 !important;
  }

  /* line 286, ../sass/main.sass */
  .page-container {
    height: unset !important;
  }

  /* line 288, ../sass/main.sass */
  .box-teddy {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* line 292, ../sass/main.sass */
  .img-box-teddy {
    width: 80%;
  }

  /* line 294, ../sass/main.sass */
  #tdz {
    top: 50%;
  }

  /* line 296, ../sass/main.sass */
  #tde {
    top: 100%;
  }

  /* line 298, ../sass/main.sass */
  #tdr {
    top: 150%;
  }

  /* line 300, ../sass/main.sass */
  #tdt {
    top: 150%;
  }
}
