@charset "UTF-8";
/* line 4, ../sass/main.sass */
#h1 {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* line 20, ../sass/main.sass */
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  width: 100%;
  animation: fadeIn 1s;
  min-width: 320px;
}
/* line 26, ../sass/main.sass */
body header {
  width: 100%;
  height: 80px;
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 33, ../sass/main.sass */
body header .left-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 25%;
}
/* line 38, ../sass/main.sass */
body header .left-nav-ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
/* line 46, ../sass/main.sass */
body header .left-nav-ol-li {
  text-align: center;
  transition: 1s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
}
/* line 55, ../sass/main.sass */
body header .left-nav-ol .icons {
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* line 63, ../sass/main.sass */
body header .left-nav-ol .icons:hover {
  background-color: #d0bbcc;
  cursor: pointer;
  transition: 0.4s;
}
/* line 67, ../sass/main.sass */
body .logo {
  width: 200px;
  margin: 0 auto;
}
/* line 70, ../sass/main.sass */
body .right-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 40%;
  margin-right: 20px;
}
/* line 77, ../sass/main.sass */
body .right-nav-ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-weight: 500;
  align-items: center;
}
/* line 86, ../sass/main.sass */
body .right-nav-ol-li {
  text-align: center;
  transition: 0.4s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
  margin: 10px;
}
/* line 96, ../sass/main.sass */
body .right-nav-ol-li:hover {
  background-color: #261624;
  color: white;
  border-radius: 6px;
}

/* line 100, ../sass/main.sass */
.active {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px !important;
  text-align: center;
  transition: 1s;
  background-color: #d0bbcc;
  border-radius: 6px;
}

/* line 110, ../sass/main.sass */
.emplacement-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

/* line 116, ../sass/main.sass */
.loremMsg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 70%;
  font-size: 16px;
  text-align: center;
}

/* line 123, ../sass/main.sass */
.widthUnset {
  width: unset;
}

/* line 126, ../sass/main.sass */
.icon-pls-txt {
  display: flex;
  flex-direction: row;
  width: 70%;
}

/* line 131, ../sass/main.sass */
.close {
  position: absolute;
  right: 50px;
  top: 120px;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}
/* line 138, ../sass/main.sass */
.close:active {
  transform: scale(1.3);
}

/* line 141, ../sass/main.sass */
#nav-enter {
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: 1s;
}
/* line 146, ../sass/main.sass */
#nav-enter:hover {
  transform: scale(1.3);
}

/* line 149, ../sass/main.sass */
.noMargin {
  margin: 0px;
}

/* line 152, ../sass/main.sass */
.box-teddy {
  margin: 20px;
  order: 1;
}

/* line 156, ../sass/main.sass */
.box-title {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 80px;
  color: #261624;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

/* line 167, ../sass/main.sass */
.page-produits {
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 0.01px;
}

/* line 177, ../sass/main.sass */
.plusProducts {
  font-size: 40px !important;
  position: unset;
}

/* line 181, ../sass/main.sass */
#container-full {
  opacity: 1;
  transition: 0.4s;
}

/* line 187, ../sass/main.sass */
.more-products-soon {
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #261624;
  transition: 0.6s;
}

/* line 195, ../sass/main.sass */
#txtProduits {
  opacity: 0;
  font-size: 45px;
  transition: 0.2s;
}

/* line 199, ../sass/main.sass */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 208, ../sass/main.sass */
.tdy--pg-produits {
  font-size: 40px;
  margin-right: 30px;
}

/* line 212, ../sass/main.sass */
.welcomeMsg, .OrinocoMsg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 40%;
  font-size: 40px;
  text-align: center;
}

/* line 220, ../sass/main.sass */
.welcomeMsg {
  margin-top: 40px;
  font-size: 30px;
  letter-spacing: 4px;
  transition: 1s;
  animation: fadeIn 3s;
}

/* line 227, ../sass/main.sass */
.mgtop40px {
  margin-top: 40px;
}

/* line 230, ../sass/main.sass */
.mgbottom40px {
  padding-bottom: 40px;
}

/* line 233, ../sass/main.sass */
.c-pg-panier {
  width: 0.01px;
  height: 0.01px;
  display: none;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: 0.4s;
}

/* line 243, ../sass/main.sass */
.header-pg-panier {
  background-color: #f3e9f1;
}

/* line 246, ../sass/main.sass */
.txt-panier {
  margin-left: 40px;
}

/* line 248, ../sass/main.sass */
.block-panier {
  height: 80%;
  width: 80%;
  background-color: #f3e9f1;
  margin: 0;
  border-radius: 5px;
}

/* line 255, ../sass/main.sass */
.box-produits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 60px;
  animation: translate 2s;
  height: 0.01px;
}

/* line 264, ../sass/main.sass */
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* line 269, ../sass/main.sass */
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

/* line 272, ../sass/main.sass */
.imgstyle {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

/* line 279, ../sass/main.sass */
.titre {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

/* line 284, ../sass/main.sass */
.sous-titre {
  font-weight: 400;
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: clip;
  font-family: sans-serif;
  white-space: nowrap;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 296, ../sass/main.sass */
footer {
  height: 60px;
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 303, ../sass/main.sass */
.footer-logo {
  width: 100px;
  filter: saturate(1);
}

/* line 306, ../sass/main.sass */
.barre-longue {
  width: 80%;
  margin-left: 40px;
  height: 2px;
  background-color: #261624;
}

/* line 312, ../sass/main.sass */
.txt-nos-produits {
  width: 100%;
}

/* line 315, ../sass/main.sass */
.table {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
  padding-left: 40px;
  padding-top: 100px;
}

/* line 324, ../sass/main.sass */
table {
  height: 35%;
  width: 90%;
}

/* line 329, ../sass/main.sass */
th {
  text-align: left;
}

/* line 332, ../sass/main.sass */
.arrow {
  color: #261624 !important;
  text-decoration: none !important;
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 30px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 347, ../sass/main.sass */
.divpanier {
  height: 40px;
  width: 90%;
  order: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #261624;
  padding: 5px;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}
/* line 362, ../sass/main.sass */
.divpanier:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

/* line 366, ../sass/main.sass */
.validatetxt {
  font-weight: 500;
}

/* line 369, ../sass/main.sass */
.img-box-teddy {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 275px;
  padding: 3px;
}
/* line 379, ../sass/main.sass */
.img-box-teddy:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.4s;
}

/* line 384, ../sass/main.sass */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

/* line 389, ../sass/main.sass */
.titleright {
  display: flex;
  align-items: center;
  font-size: 30px;
}

/* line 394, ../sass/main.sass */
.price {
  position: absolute;
  bottom: 7%;
  right: 5%;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 3px;
}

/* line 407, ../sass/main.sass */
.price-plus-img {
  position: relative;
}

/* line 410, ../sass/main.sass */
.titleleft {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90%;
  width: 80%;
}

/* line 417, ../sass/main.sass */
.cursor-scale {
  cursor: pointer;
  position: relative;
}
/* line 420, ../sass/main.sass */
.cursor-scale:hover {
  transform: scale(1.2);
  transition: 0.4s;
  color: #aa8064;
}

/* line 425, ../sass/main.sass */
.more {
  width: 200px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #261624;
  transition: 0.4s;
  margin: 60px;
  order: 2;
}
/* line 435, ../sass/main.sass */
.more:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.4s;
}

/* line 440, ../sass/main.sass */
.zoom {
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}
/* line 446, ../sass/main.sass */
.zoom:hover {
  cursor: pointer;
  font-size: 25px;
  transition: 0.4s;
}

/* line 450, ../sass/main.sass */
h1 {
  font-size: 24px;
}

/* line 453, ../sass/main.sass */
#tda, #tdz, #tde, #tdr, #tdt {
  position: absolute;
  width: 0%;
  object-fit: cover;
  left: 50%;
  top: 10%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  transition: 0.4s;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* line 464, ../sass/main.sass */
.close-img {
  font-size: 0px;
  position: absolute;
  z-index: 999;
  top: 5%;
  right: 5%;
  padding: 5px;
  transition: 0.4;
  cursor: pointer;
}

/* line 477, ../sass/main.sass */
.position-relative {
  position: relative;
}

/* line 480, ../sass/main.sass */
.page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* line 486, ../sass/main.sass */
.form-plus-color-txt-on {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 2;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 498, ../sass/main.sass */
.form-plus-color-txt-off {
  height: 0px;
  margin: 0px;
  opacity: 0;
}

/* line 503, ../sass/main.sass */
.formStyles {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 508, ../sass/main.sass */
.colortxt {
  font-size: 18px;
  font-weight: 600;
  color: #963232;
}

/* line 513, ../sass/main.sass */
.fa-shopping-cart {
  margin-bottom: 20px;
  color: black;
}

/* line 518, ../sass/main.sass */
.first {
  margin-bottom: 0px;
  color: white;
}

/* line 521, ../sass/main.sass */
.fa-minus {
  opacity: 0;
  order: 3;
  margin: 10px;
  font-size: 20px;
  position: relative;
  bottom: 3%;
}

/* line 528, ../sass/main.sass */
.fa-sort-down {
  opacity: 1;
  order: 3;
  margin: 10px;
  font-size: 30px;
  position: relative;
  bottom: 3%;
}

/* line 535, ../sass/main.sass */
.fa-sort-up {
  opacity: 1;
  order: 3;
  margin: 10px;
  font-size: 30px;
  position: relative;
  bottom: 3%;
}

/* line 542, ../sass/main.sass */
.widthFull {
  width: 100%;
}

/* line 544, ../sass/main.sass */
.fa-envelope {
  font-size: 20px;
}

/* line 547, ../sass/main.sass */
.active {
  background-color: #261624;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 553, ../sass/main.sass */
#totalPrice {
  text-decoration: underline;
}

/* line 556, ../sass/main.sass */
.linkstyle {
  text-decoration: none !important;
  color: unset !important;
}

/* line 560, ../sass/main.sass */
.simple-barre {
  height: 100%;
  width: 1px;
  background-color: #261624;
  margin: 10px;
}

/* line 566, ../sass/main.sass */
#searchbox {
  background: #d8d8d8;
  border: none;
}

/* line 570, ../sass/main.sass */
#colorsBox {
  height: 100px;
  width: 100%;
}

/* line 574, ../sass/main.sass */
.colorSelect {
  border: none !important;
  font-size: 20px;
  width: unset;
  margin-top: 0px;
}

/* line 580, ../sass/main.sass */
.teddyOption {
  width: 100%;
  height: 100%;
  color: black;
}

/* line 586, ../sass/main.sass */
.nostyle {
  border: none;
  background-color: unset;
  height: 40px;
}

/* line 591, ../sass/main.sass */
.box-colors {
  width: 18%;
  height: 90px;
  background-color: red;
}

/* line 596, ../sass/main.sass */
.fa-search {
  margin-left: 10px;
}

/* line 599, ../sass/main.sass */
.iconepanier {
  position: absolute;
  font-size: 30px;
}

/* line 602, ../sass/main.sass */
.iconecross {
  position: absolute;
  font-size: 0px;
}

/* line 606, ../sass/main.sass */
.barre-de-recherche {
  border-radius: 50px;
  border: 1px solid #261624;
  display: flex;
  align-items: center;
  height: 40px;
  width: 250px;
  background-color: white;
}

/* line 615, ../sass/main.sass */
.backgroundColorFirstColor {
  background-color: white;
}

/* line 618, ../sass/main.sass */
input:focus::-webkit-input-placeholder {
  color: transparent;
  padding-left: 20px;
}

/* line 622, ../sass/main.sass */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 626, ../sass/main.sass */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 629, ../sass/main.sass */
#searchbox input {
  outline: none;
}

/* line 632, ../sass/main.sass */
#searchbox input[type=»text »] {
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #bebebe;
  width: 55%;
  padding: 8px 15px 8px 30px;
}

/* line 638, ../sass/main.sass */
#button-submit:hover {
  background: #4f5356;
}

/* line 641, ../sass/main.sass */
#button-submit:active {
  background: #5b5d60;
  outline: none;
}

/* line 645, ../sass/main.sass */
#button-submit::-moz-focus-inner {
  border: 0;
}

/* line 648, ../sass/main.sass */
.main-int {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

/* style du formulaire */
/* line 662, ../sass/main.sass */
.paddingTable {
  padding: 10px;
}

/* line 665, ../sass/main.sass */
.wrapper {
  margin-bottom: 40px;
  width: 85%;
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  background-color: #f3e9f1;
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
}

/* line 679, ../sass/main.sass */
.containerForm {
  width: 65%;
  padding: 5% 10%;
}

/* line 684, ../sass/main.sass */
h1 {
  align-self: center;
}

/* line 688, ../sass/main.sass */
form {
  width: 100%;
}
/* line 691, ../sass/main.sass */
form > * {
  margin-top: 20px;
}
/* line 695, ../sass/main.sass */
form input {
  width: 80%;
  min-height: 25px;
  border: 0;
  font-family: Montserrat, sans-serif;
  margin-top: 5px;
  color: #261624;
  border-radius: 4px;
}
/* line 705, ../sass/main.sass */
form label {
  text-transform: uppercase;
  font-size: 14px;
  color: #261624;
}
/* line 711, ../sass/main.sass */
form h1 {
  font-size: 24px;
  color: #261624;
  letter-spacing: 1px;
}
/* line 717, ../sass/main.sass */
form h1:nth-of-type(2) {
  margin-top: 10%;
}

/* line 722, ../sass/main.sass */
.name {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

/* line 727, ../sass/main.sass */
.address-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* line 731, ../sass/main.sass */
.address-info div {
  width: 100%;
}

/* line 736, ../sass/main.sass */
.cc-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 741, ../sass/main.sass */
.btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}
/* line 747, ../sass/main.sass */
.btns button {
  margin: 3px 0;
  height: 30px;
  width: 40%;
  color: white;
  background-color: #261624;
  text-transform: uppercase;
  border: 0;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
}
/* line 760, ../sass/main.sass */
.btns button:hover {
  animation-name: btn-hov;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
}

/* line 766, ../sass/main.sass */
.body-confirmation {
  width: 100%;
  height: 100%;
  background-color: #f3e9f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 774, ../sass/main.sass */
.body-confirmation .h1-confirmation {
  font-weight: 500;
  margin-bottom: 40px;
}
/* line 777, ../sass/main.sass */
.body-confirmation .btn-return {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e6e6e6;
  border: 1px solid gray;
  font-weight: 500;
}

/* line 786, ../sass/main.sass */
.mgtop20px {
  margin-top: 20px;
}

@keyframes btn-hov {
  100% {
    background-color: #cfc9e1;
    color: #4a3b76;
    transform: scale(1.05);
  }
}
/* line 796, ../sass/main.sass */
input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
  /* line 802, ../sass/main.sass */
  .wrapper {
    width: 100%;
  }

  /* line 806, ../sass/main.sass */
  .container {
    width: 100%;
  }

  /* line 810, ../sass/main.sass */
  .btns {
    align-items: center;
  }
  /* line 813, ../sass/main.sass */
  .btns button {
    width: 50%;
  }

  /* line 818, ../sass/main.sass */
  form h1 {
    text-align: center;
  }

  /* line 822, ../sass/main.sass */
  .name,
  .address-info,
  .cc-info {
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 828, ../sass/main.sass */
  .name div,
  .address-info div,
  .cc-info div {
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  /* line 835, ../sass/main.sass */
  .street,
  .cc-num {
    text-align: center;
  }

  /* line 840, ../sass/main.sass */
  input {
    margin: 5px 0;
    min-height: 30px;
  }

  /* line 843, ../sass/main.sass */
  .street {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* line 849, ../sass/main.sass */
.hrefZone {
  width: 100%;
  height: 100%;
}

/* line 853, ../sass/main.sass */
.fa-check {
  padding-left: 80px;
  padding-right: 80px;
  background-color: #261624;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

@media screen and (max-width: 968px) {
  /* line 863, ../sass/main.sass */
  .OrinocoMsg {
    top: 10%;
  }

  /* line 865, ../sass/main.sass */
  .welcomeMsg {
    top: 14%;
  }

  /* line 867, ../sass/main.sass */
  .loremMsg {
    top: 18%;
  }

  /* line 869, ../sass/main.sass */
  .wrapper {
    margin-top: 0px !important;
    box-shadow: none;
  }

  /* line 872, ../sass/main.sass */
  header {
    flex-direction: column;
    height: unset !important;
  }

  /* line 875, ../sass/main.sass */
  .logo {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  /* line 878, ../sass/main.sass */
  .left-nav {
    justify-content: flex-start !important;
  }

  /* line 880, ../sass/main.sass */
  .right-nav {
    margin-right: 0 !important;
  }

  /* line 882, ../sass/main.sass */
  .page-container {
    height: unset !important;
  }

  /* line 884, ../sass/main.sass */
  .box-teddy {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  /* line 889, ../sass/main.sass */
  .img-box-teddy {
    width: 100%;
    height: 100%;
  }

  /* line 892, ../sass/main.sass */
  #tdz {
    top: 50%;
  }

  /* line 894, ../sass/main.sass */
  #tde {
    top: 100%;
  }

  /* line 896, ../sass/main.sass */
  #tdr {
    top: 150%;
  }

  /* line 898, ../sass/main.sass */
  #tdt {
    top: 150%;
  }

  /* line 900, ../sass/main.sass */
  .box-title {
    display: flex;
    flex-direction: column;
  }

  /* line 903, ../sass/main.sass */
  .barre-de-recherche {
    margin-top: 40px;
    width: 100%;
  }

  /* line 906, ../sass/main.sass */
  .right-nav {
    width: 100% !important;
    justify-content: center;
  }

  /* line 909, ../sass/main.sass */
  .container {
    height: 100% !important;
    margin-top: 0px !important;
  }

  /* line 912, ../sass/main.sass */
  .imgstyle {
    height: 250px !important;
  }

  /* line 914, ../sass/main.sass */
  #txtProduits {
    font-size: 20px;
    font-weight: 500;
  }

  /* line 917, ../sass/main.sass */
  .icon-pls-txt {
    margin-left: 0 !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  /* line 922, ../sass/main.sass */
  .txt-produits {
    white-space: normal !important;
    text-align: center !important;
  }

  /* line 925, ../sass/main.sass */
  .tdy--pg-produits {
    margin-right: 0px !important;
    margin-bottom: 10px !important;
    font-size: 25px;
  }

  /* line 929, ../sass/main.sass */
  .right-nav {
    justify-content: flex-start !important;
  }

  /* line 931, ../sass/main.sass */
  .main-int {
    width: 100% !important;
  }

  /* line 933, ../sass/main.sass */
  .box-title {
    margin: 20px !important;
  }

  /* line 935, ../sass/main.sass */
  .formStyles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* line 940, ../sass/main.sass */
  .page-produits {
    height: 100%;
  }
}
