@charset "UTF-8";
/* line 4, ../sass/main.sass */
#h1 {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* line 20, ../sass/main.sass */
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}
/* line 26, ../sass/main.sass */
body header {
  width: 100%;
  height: 80px;
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 33, ../sass/main.sass */
body header .left-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 25%;
}
/* line 38, ../sass/main.sass */
body header .left-nav-ol {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
/* line 46, ../sass/main.sass */
body header .left-nav-ol-li {
  text-align: center;
  transition: 1s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
}
/* line 55, ../sass/main.sass */
body header .left-nav-ol .icons {
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* line 63, ../sass/main.sass */
body header .left-nav-ol .icons:hover {
  background-color: #d0bbcc;
  cursor: pointer;
  transition: 0.4s;
}
/* line 67, ../sass/main.sass */
body .logo {
  width: 200px;
  margin: 0 auto;
}
/* line 70, ../sass/main.sass */
body .right-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  width: 40%;
  margin-right: 20px;
}
/* line 77, ../sass/main.sass */
body .right-nav-ol {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  align-items: center;
}
/* line 86, ../sass/main.sass */
body .right-nav-ol-li {
  text-align: center;
  transition: 1s;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px !important;
  width: 100%;
  justify-content: center;
  margin: 10px;
}
/* line 96, ../sass/main.sass */
body .right-nav-ol-li:hover {
  text-align: center;
  transition: 0.4s;
  color: #795a46;
  transform: scale(1.1);
  cursor: pointer;
}

/* line 102, ../sass/main.sass */
.active {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px !important;
  text-align: center;
  transition: 1s;
  background-color: #d0bbcc;
}

/* line 111, ../sass/main.sass */
.emplacement-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

/* line 117, ../sass/main.sass */
.icon-pls-txt {
  display: flex;
  flex-direction: row;
  width: 70%;
}

/* line 122, ../sass/main.sass */
.close {
  position: absolute;
  right: 50px;
  top: 120px;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}
/* line 129, ../sass/main.sass */
.close:active {
  transform: scale(1.3);
}

/* line 132, ../sass/main.sass */
#nav-enter {
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: 1s;
}
/* line 137, ../sass/main.sass */
#nav-enter:hover {
  transform: scale(1.3);
}

/* line 140, ../sass/main.sass */
.box-teddy {
  margin: 20px;
  order: 1;
}

/* line 144, ../sass/main.sass */
.box-title {
  display: flex;
  flex-direction: row;
  margin: 30px;
  color: #261624;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

/* line 154, ../sass/main.sass */
.page-produits {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background-image: url("/ressources/produits-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* line 165, ../sass/main.sass */
.more-products-soon {
  height: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #261624;
  transition: 0.6s;
}

/* line 173, ../sass/main.sass */
#txtProduits {
  opacity: 0;
  font-size: 45px;
  transition: 0.2s;
}

/* line 177, ../sass/main.sass */
.container {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* line 186, ../sass/main.sass */
.tdy--pg-produits {
  font-size: 40px;
  margin-right: 30px;
}

/* line 191, ../sass/main.sass */
.c-pg-panier {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 199, ../sass/main.sass */
.header-pg-panier {
  background-color: #f3e9f1;
}

/* line 202, ../sass/main.sass */
.txt-panier {
  margin-left: 40px;
}

/* line 204, ../sass/main.sass */
.block-panier {
  height: 80%;
  width: 80%;
  background-color: #f3e9f1;
  margin: 0;
  border-radius: 5px;
}

/* line 211, ../sass/main.sass */
.box-produits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  margin-bottom: 60px;
  animation: translate 2s;
}

/* line 220, ../sass/main.sass */
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* line 225, ../sass/main.sass */
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

/* line 228, ../sass/main.sass */
.imgstyle {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

/* line 235, ../sass/main.sass */
.titre {
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 239, ../sass/main.sass */
.sous-titre {
  font-weight: 400;
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: clip;
  font-family: sans-serif;
  white-space: nowrap;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 250, ../sass/main.sass */
footer {
  height: 60px;
  background-color: #f3e9f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 257, ../sass/main.sass */
.footer-logo {
  width: 100px;
  filter: saturate(1);
}

/* line 260, ../sass/main.sass */
.barre-longue {
  width: 80%;
  margin-left: 40px;
  height: 2px;
  background-color: #261624;
}

/* line 266, ../sass/main.sass */
.txt-nos-produits {
  width: 100%;
}

/* line 269, ../sass/main.sass */
.table {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
  padding-left: 40px;
  padding-top: 100px;
}

/* line 278, ../sass/main.sass */
table {
  height: 35%;
  width: 90%;
}

/* line 283, ../sass/main.sass */
th {
  text-align: left;
}

/* line 286, ../sass/main.sass */
.arrow {
  position: fixed;
  bottom: 3%;
  right: 3%;
  font-size: 30px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 298, ../sass/main.sass */
.img-box-teddy {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 275px;
  padding: 3px;
}
/* line 307, ../sass/main.sass */
.img-box-teddy:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.4s;
}

/* line 312, ../sass/main.sass */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

/* line 317, ../sass/main.sass */
.titleright {
  display: flex;
  align-items: center;
  font-size: 30px;
}

/* line 322, ../sass/main.sass */
.price {
  position: absolute;
  bottom: 7%;
  right: 5%;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 3px;
}

/* line 335, ../sass/main.sass */
.price-plus-img {
  position: relative;
}

/* line 338, ../sass/main.sass */
.titleleft {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 90%;
  width: 80%;
}

/* line 345, ../sass/main.sass */
.cursor-scale {
  cursor: pointer;
  position: relative;
}
/* line 348, ../sass/main.sass */
.cursor-scale:hover {
  transform: scale(1.2);
  transition: 0.4s;
  color: #aa8064;
}

/* line 353, ../sass/main.sass */
.more {
  width: 200px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #261624;
  transition: 0.4s;
  margin: 60px;
  order: 2;
}
/* line 363, ../sass/main.sass */
.more:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.4s;
}

/* line 368, ../sass/main.sass */
.zoom {
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}
/* line 374, ../sass/main.sass */
.zoom:hover {
  cursor: pointer;
  font-size: 25px;
  transition: 0.4s;
}

/* line 379, ../sass/main.sass */
#tda, #tdz, #tde, #tdr, #tdt {
  position: absolute;
  width: 0%;
  object-fit: cover;
  left: 50%;
  top: 10%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  transition: 0.4s;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* line 390, ../sass/main.sass */
.close-img {
  font-size: 0px;
  position: absolute;
  z-index: 999;
  top: 5%;
  right: 5%;
  padding: 5px;
  transition: 0.4;
  cursor: pointer;
}

/* line 400, ../sass/main.sass */
.position-relative {
  position: relative;
}

/* line 403, ../sass/main.sass */
.page-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 408, ../sass/main.sass */
.form-plus-color-txt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 2;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 419, ../sass/main.sass */
.colortxt {
  font-size: 20px;
}

/* line 422, ../sass/main.sass */
.fa-minus {
  opacity: 0;
}

/* line 424, ../sass/main.sass */
.fa-plus {
  opacity: 1;
  position: absolute;
}

/* line 427, ../sass/main.sass */
.fa-envelope {
  font-size: 20px;
}

/* line 430, ../sass/main.sass */
.linkstyle {
  text-decoration: none !important;
  color: unset !important;
}

/* line 434, ../sass/main.sass */
.simple-barre {
  height: 100%;
  width: 5px;
  background-color: #261624;
}

/* line 439, ../sass/main.sass */
#searchbox {
  background: #d8d8d8;
  border: none;
}

/* line 443, ../sass/main.sass */
#colorsBox {
  height: 100px;
  width: 100%;
}

/* line 447, ../sass/main.sass */
.colorSelect {
  border: none !important;
  font-size: 20px;
}

/* line 451, ../sass/main.sass */
.teddyOption {
  width: 100%;
  height: 100%;
  color: black;
}

/* line 457, ../sass/main.sass */
.nostyle {
  border: none;
  background-color: unset;
  height: 40px;
  width: 100%;
}

/* line 463, ../sass/main.sass */
.box-colors {
  width: 18%;
  height: 90px;
  background-color: red;
}

/* line 468, ../sass/main.sass */
.fa-search {
  margin-left: 10px;
}

/* line 471, ../sass/main.sass */
.barre-de-recherche {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  border: 1px solid #261624;
  width: 250px;
}

/* line 478, ../sass/main.sass */
input:focus::-webkit-input-placeholder {
  color: transparent;
  padding-left: 20px;
}

/* line 482, ../sass/main.sass */
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 486, ../sass/main.sass */
input:focus::-moz-placeholder {
  color: transparent;
}

/* line 489, ../sass/main.sass */
#searchbox input {
  outline: none;
}

/* line 492, ../sass/main.sass */
#searchbox input[type=»text »] {
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #bebebe;
  width: 55%;
  padding: 8px 15px 8px 30px;
}

/* line 498, ../sass/main.sass */
#button-submit:hover {
  background: #4f5356;
}

/* line 501, ../sass/main.sass */
#button-submit:active {
  background: #5b5d60;
  outline: none;
}

/* line 505, ../sass/main.sass */
#button-submit::-moz-focus-inner {
  border: 0;
}

/* line 508, ../sass/main.sass */
.main-int {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 968px) {
  /* line 517, ../sass/main.sass */
  header {
    flex-direction: column;
    height: unset !important;
  }

  /* line 520, ../sass/main.sass */
  .logo {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  /* line 523, ../sass/main.sass */
  .left-nav {
    justify-content: flex-start !important;
  }

  /* line 525, ../sass/main.sass */
  .right-nav {
    margin-right: 0 !important;
  }

  /* line 527, ../sass/main.sass */
  .page-container {
    height: unset !important;
  }

  /* line 529, ../sass/main.sass */
  .box-teddy {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* line 533, ../sass/main.sass */
  .img-box-teddy {
    width: 80%;
  }

  /* line 535, ../sass/main.sass */
  #tdz {
    top: 50%;
  }

  /* line 537, ../sass/main.sass */
  #tde {
    top: 100%;
  }

  /* line 539, ../sass/main.sass */
  #tdr {
    top: 150%;
  }

  /* line 541, ../sass/main.sass */
  #tdt {
    top: 150%;
  }

  /* line 543, ../sass/main.sass */
  .box-title {
    display: flex;
    flex-direction: column;
  }

  /* line 546, ../sass/main.sass */
  .barre-de-recherche {
    margin-top: 40px;
    width: 100%;
  }

  /* line 549, ../sass/main.sass */
  .right-nav {
    width: 100% !important;
    justify-content: center;
  }

  /* line 552, ../sass/main.sass */
  .container {
    margin-top: 0px !important;
  }

  /* line 554, ../sass/main.sass */
  .imgstyle {
    height: 250px !important;
  }

  /* line 556, ../sass/main.sass */
  #txtProduits {
    font-size: 20px;
    font-weight: 500;
  }
}
